// Here you can add other styles

table {
  border-collapse: collapse;

  /** userList */
  &.userList {
    tr {
      text-align: center;
    }
    td {
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
      max-width: 300px;
    }
    th.userId{
      min-width: 60px;
      max-width: 100px;
    }
    th.phoneNumber {
      min-width: 150px;
      max-width: 300px;
    }

  }
}

td {
  cursor: pointer;
  border: 1px solid #d8dbe0;
}

th.small {
  min-width: 70px;
  max-width: 70px;
}

th {
  min-width: 150px;
  max-width: 150px;
  border: 1px solid #d8dbe0;
}

th.large {
  min-width: 300px;
  max-width: 300px;
}
