// Here you can add other styles

table {
  border-collapse: collapse;

  /** userList */
  &.userList {
    tr {
      text-align: center;
    }
    th.userId{
      min-width: 60px;
      max-width: 100px;
    }
    th.businessNumber {
      min-width: 190px;
    }
    th.phoneNumber {
      min-width: 160px;
    }
    th.status {
      min-width: 90px;
    }
    th.businessName{
      min-width: 160px;
    }
    th.businessAddress{
      min-width: 180px;
    }
    th.secessionReason{
      min-width: 180px;
    }
  }
}

td {
  cursor: pointer;
  border: 1px solid #d8dbe0;
}

th.small {
  min-width: 70px;
  max-width: 70px;
}

th {
  min-width: 150px;
  max-width: 150px;
  border: 1px solid #d8dbe0;
}

th.large {
  min-width: 300px;
  max-width: 300px;
}
